<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/public/css/index.css" />
	</head>
	<body>
		<form action="/party" method="post">
			<p>Username</p>
			<input
				type="text"
				name="unique_id"
				placeholder="Eg: Wimpy Warlord"
			/>
			<button type="submit">START</button>
			<small
				>If you are alone in a room, wait for sometime. Somebody will
				surely join you.</small
			>
			<br />
			<small
				>Don't Worry your phone number is automatically deleted from our
				database in 15 mins.</small
			>
		</form>
	</body>
</html>
