<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<form action="/party" method="post">
			<p>Enter your phone number below</p>
			<input type="text" name="unique_id" placeholder="Eg: 9650797489" />
			<button type="submit">START</button>
			<small
				>If you are alone in a room, wait for sometime. Somebody will
				surely join you.</small
			>
		</form>
	</body>
</html>
